body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 10px auto 0 auto;
    width: 400px;
    font-size: 18px;
    line-height: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
}

.hero-unit h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1px;
}
