
.select {
    color:black;
}

.x-boundlist-selected {
    background: #00F00F;   // define your own color
border-color: #8EABE4;
}


.active {
    font-weight: bold;
}

.smallInfo {
    font-size: 65%;
}