<div class="content">

  <h4>Revisions</h4>
  <small>List of the latest changes</small>

  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>User</th>
      <th>changed TopLevelEntity</th>
      <th>changed entities</th>
    </tr>

    <tr ng-repeat="rev in revisionsList">
      <td>
        {{rev.id}}
      </td>
      <td>
        {{getDate(rev.revisionDate)}}
      </td>
      <td>
        {{rev.userId == null ? '-' : rev.userId}}
      </td>
      <td>
        {{ rev.entityDiscriminator }}
        <small>
          <span ng-show="getUrlForDiscriminator(rev.entityDiscriminator) != ''">
              <a href="#{{getUrlForDiscriminator(rev.entityDiscriminator)}}/{{rev.entityId}}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-eye-open"></span>
              </a>
          </span>
        </small>
      </td>
      <td>
        <div ng-repeat="name in rev.modifiedEntityNames">
          {{ name }}
        </div>
      </td>
    </tr>
  </table>


</div>
