<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form">
                <div class="modal-header" ng-show="title">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <h4 class="modal-title" ng-bind-html="title"></h4>
                </div>
                <div class="modal-body" ng-show="content">
                    <div class="form-group">
                        <label for="url">API URL</label>
                        <input type="url" ng-model="formdata.url" class="form-control" id="url" placeholder="Enter url">
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="$hide();save(formdata)" class="btn btn-default">Submit</button>
                    <button ng-click="$hide()" class="btn btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>