.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}


@import '../../bower_components/bootstrap/less/bootstrap.less';
@icon-font-path:          "/bower_components/bootstrap/fonts/";
@import './bootswatch_variables.less';
@import './bootswatch.less';


// injector
// endinjector
