<div class="contentContainer">

  <div ng-show="list && ! id">

    <h3 translate>games</h3>

    <table class="table table-striped" ng-show="!isLoading>0">
      <tr>
        <th><span translate>original title</span></th>
        <th><span translate>other titles</span></th>
        <th><span translate>last_changed</span></th>
      </tr>

      <tr ng-repeat="game in list">
        <td>
          <a ng-href="#/games/{{game.id}}">
            <div ng-show="game.gameToGameTitleConnectionList.length>0">
              <span
                ng-repeat="gameToGameTitleConnection in game.gameToGameTitleConnectionList | filter: originalTitleFilter"
                style="font-weight: bold;"
                title="{{ (gameToGameTitleConnection.gameTitle.standardTransliteration!=''?gameToGameTitleConnection.gameTitle.standardTransliteration:'')}}"
                >
                  {{ gameToGameTitleConnection.gameTitle.nativeSpelling }}{{$last ? '' : ', '}}
              </span>
            </div>
          </a>
          releaseGroups: {{game.releaseGroupList.length}}
        </td>

        <td>
          <span
            ng-repeat="gameToGameTitleConnection in filteredList = game.gameToGameTitleConnectionList | filter: notOriginalTitleFilter">
              <span
                title="{{ (gameToGameTitleConnection.gameTitle.standardTransliteration!=''?gameToGameTitleConnection.gameTitle.standardTransliteration:'')}}"
                >
                  {{ gameToGameTitleConnection.gameTitle.nativeSpelling }}
                <span
                  style="font-size: 60%;">{{ gameToGameTitleConnection.titleType.value}}{{$last ? '' : ', '}}</small>
                  <br/>
              </span>
          </span>
          </span>
        </td>
        <td>
          {{ game.changeTimeGui}}
        </td>
      </tr>
    </table>

  </div>


  <div ng-show="id">

    <h3>
      <span ng-show="one">
            <span style="font-size: 70%;">
                <a href="#/games" translate>games</a>
            </span>
      : {{ getTitle(one) }}
      <!--
      <a ng-disabled='!loggedIn' class="btn btn-default" href="#/games/edit/{{one.id}}" translate>edit</a>
      -->
      </span>
    </h3>

    <div class="btn-group" ng-model="tabs.activeTab" bs-radio-group>
      <label ng-repeat="tab in tabs" class="btn btn-default"><input class="btn btn-default" value="{{tab}}" type="radio">{{tab}}</label>
    </div>

    <!-- gametitles -->
    <table class="table table-striped" ng-show="tabs.activeTab == 'gametitles'">
      <tr>
        <th><span translate>title</span></th>
        <th><span translate>standardTransliteration</span></th>
        <th><span translate>language</span></th>
      </tr>

      <tr
        ng-repeat="gameToGameTitleConnection in one.gameToGameTitleConnectionList | filter: originalTitleFilter"
        >
        <td>
          {{ gameToGameTitleConnection.gameTitle.nativeSpelling }}
        </td>
        <td>
          {{ gameToGameTitleConnection.gameTitle.standardTransliteration }}
        </td>
        <td>
          {{ gameToGameTitleConnection.gameTitle.language.name }}
        </td>

      </tr>
    </table>

    <!-- other titles -->
    <table class="table table-striped" ng-show="tabs.activeTab == 'gametitles'">
      <tr>
        <th><span translate>title</span></th>
        <th><span translate>titleType</span></th>
        <th><span translate>language</span></th>
      </tr>

      <tr
        ng-repeat="gameToGameTitleConnection in filteredList = one.gameToGameTitleConnectionList | filter: notOriginalTitleFilter"
        >
        <td>
          {{ gameToGameTitleConnection.gameTitle.nativeSpelling }}
        </td>
        <td>
          {{ gameToGameTitleConnection.titleType.value }}
        </td>
        <td>
          {{ gameToGameTitleConnection.gameTitle.language.name }}
        </td>

      </tr>
    </table>


    <!-- releases -->
    <table class="table table-striped" ng-show="tabs.activeTab == 'releases'">
      <tr>
        <th><span translate>releaseGroup</span></th>
        <th><span translate>name</span></th>
        <th><span translate>system</span></th>
      </tr>

      <tr
        ng-repeat="releaseGroup in one.releaseGroupList"
        >
        <td>
          {{ releaseGroup.system }}
        </td>
        <td>
          {{ releaseGroup.name }}
        </td>
        <td>
          {{ releaseGroup.releaseType.value }}
        </td>
      </tr>
    </table>


    <!-- revisions -->
    <div class="panel panel-default" ng-show="tabs.activeTab == 'revisions'">
      <div class="panel-heading">
        <h3 class="panel-title" translate>revisions
        </h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="rev in revisions">{{rev.n}} / {{getDate(rev.value.timestamp)}}</div>
      </div>
    </div>


  </div>

</div>
