<span ng-controller="NavigationCtrl">

    <div class="header">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/main">oregami client</a>
            </div>

            <ul class="nav navbar-nav">
                <li ng-repeat="nav in navlist" data-match-route="/{{nav.url}}">
                    <a ng-href="#{{nav.url}}">{{nav.name | translate}} </a>
                </li>
                <li>
                    <br/>
                    <div id="navDetails">
                    <span ng-controller="LanguageCtrl">
                            <a href="" ng-class="{active:preferredLanguage != 'de'}" ng-click="changeLang('en')"><img
                                    src="/assets/images/en.png"></a>

                            <a href="" ng-class="{active:preferredLanguage != 'en'}" ng-click="changeLang('de')"><img
                                    src="/assets/images/de.png"></a>
                    </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>



           <!--
    <div id="API_URL" title="{{API_URL}}">API</div>
               -->
    <!--
    <div id="User">{{user.isLogged}} / {{user.username}}</div>
    -->
</span>
