<p>
    <div translate>{{ 'games_view_title' }}</div>
    <button ng-click="getGames()" translate>refresh</button>
</p>

<hr/>

<div id="gameListContainer">

<div ng-show="games"><h2 translate>games</h2>
<div ng-repeat="game in games" class="gameContainer">
    <h3 ng-show="game.gameTitleList[0].title">title: {{ game.gameTitleList[0].title }}</h3>
    <div>id={{ game.id }} version={{ game.version }}</div>
    <div ng-repeat="rg in game.releaseGroupList">{{ rg.releaseGroupType.name }}: {{ rg.system }}</div>

</div>
</div>

<!--
<form novalidate class="simple-form">
    id: <input type="text" ng-model="game.id">
    <br/>
    version: <input type="text" ng-model="game.version">
    <br/>
    tld: <input type="text" ng-model="game.tagLineDescription">
    <br/>
    <button ng-click="updateGame(game)">SAVE</button>
</form>
-->


</div>
