<div ng-controller="NavigationCtrl" id="navContainer">

    <span id="navDetails">

        <span ng-controller="LanguageCtrl">
            <div style="float:left;margin-right:1cm;">
            <a href="" ng-class="{active:preferredLanguage != 'de'}" ng-click="changeLang('en')"><img src="/images/en.png"></a>
                <br/>
            <a href="" ng-class="{active:preferredLanguage != 'en'}" ng-click="changeLang('de')"><img src="/images/de.png"></a>
            </div>
        </span>

    </span>



    <ul class="nav">
        <li ng-repeat="nav in navlist">
            <a ng-class="{active:isActive('/' + nav.url )}" href="#{{ nav.url }}" title="{{ nav.title }}" translate>{{ nav.name }}</a>
            <!--<span ng-show="('/'+{{nav.url}}) == {{$location.path()">{{ nav.name }} (current)</span>-->
        </li>
    </ul>


    <div id="API_URL" title="{{API_URL}}">API</div>
</div>
<br/>