<p>This is the register view.</p>

<hr/>

<form ng-show="!registrationSuccess">
    <table>
        <tr>
            <td>
                <b>{{ 'register_developer_message' | translate }}</b>
            </td>
        </tr>
    </table>

    <table>

        <tr>
            <td>
                <span ng-class="{error: getError('user.username')!=''}" translate>username</span>:
            </td>
            <td>
                <input type="text" name="username" ng-model="newuser.username">
            </td>
            <td>
                <span class="error">{{ getError('user.username') | translate}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span ng-class="{error: getError('user.email')!=''}" translate>email</span>:
            </td>
            <td>
                <input type="text" name="email" ng-model="newuser.email">
            </td>
            <td>
                <span class="error">{{ getError('user.email') | translate }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span ng-class="{error: getError('user.password')!=''}" translate>password</span>:
            </td>
            <td>
                <input type="password" name="password" ng-model="newuser.password">
            </td>
            <td>
                <span class="error">{{ getError('user.password') | translate }}</span>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button ng-click="submit()">submit</button>
            </td>
        </tr>

    </table>

</form>

<div ng-show="registrationSuccess"><span translate>registration_success</span><br/>
<button ng-click="reset()" translate>continue</button>
</div>