
<h3><span translate>WEBSITES</span>:</h3>


<form novalidate class="simple-form">

    <table>
        <tr>
            <td>
                website.url:
            </td>
            <td>
                <input size="50" type="text" ng-model="newwebsite.url">
            </td>
        </tr>
        <tr>
            <td>
                website.createSize:
            </td>
            <td>
                <input size="50" type="text" ng-model="newwebsite.createSize">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button ng-click="createWebsite(newwebsite);">CREATE</button>
            </td>
        </tr>

    </table>


</form>

<button ng-click="refreshList()">REFRESH_LIST</button>

<br/>
<span ng-repeat="website in websites | reverse">
    <a ng-href="{{baseUrl + '' + website.href_big}}" target="_blank">
        <img ng-src="{{baseUrl + '' + website.href_thumb}}" title="{{ website.url }} {{ website.createTime }}"/>
    </a>
</span>
