<div class="contentContainer">

  <h4>
      <span ng-show="one">
        <a href="#/publications"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
        {{ one.name }}
      <a ng-disabled='!loggedIn' class="btn btn-default" href="#/publications/edit/{{one.id}}" translate>edit</a>
      </span>
    <span ng-show="list && ! id" translate id="publications.header">publications</span>

    <span ng-show="!one" title="{{ loggedIn ? '' : 'logInFirst' | translate}}">
      <a href="#/publications/new"
         ng-disabled="!loggedIn"
         class="btn btn-success btn-sm"
         translate
        >create_new_publication</a>
    </span>

  </h4>


  <div ng-show="list && ! id">

    <table class="table table-striped" ng-show="!isLoading>0">
      <tr>
        <th><span translate>franchise</span></th>
        <th><span translate>publications</span></th>
        <th><span translate>last_changed</span></th>
      </tr>

      <tr ng-repeat="publicationFranchise in list">
        <td><a ng-href="#/publications/{{publicationFranchise.id}}">{{publicationFranchise.name}}</a></td>

        <td>
                    <span ng-repeat="publication in publicationFranchise.publicationList">
                        {{ publication.name }}
                        <span ng-show="true || publication.language">
                            (<span translate>{{ publication.language.name }}</span>)
                            {{$last ? '' : ', '}}
                        </span>
                    </span>
        </td>

        <td>
          {{ publicationFranchise.changeTimeGui}}
        </td>
      </tr>
    </table>

  </div>


  <div ng-show="id">

    <div><span translate>last_changed</span>: {{one.changeTimeGui}}</div>

    <table class="table table-striped"
           ng-repeat="publication in one.publicationList">
      <tr>
        <th>
          {{publication.name}}
        </th>
      </tr>
      <tr>
        <td>
          language: <span translate>{{publication.language.name}}</span>
        </td>
      </tr>
      <tr ng-repeat="issue in publication.publicationIssueList">
        <td>{{ issue.issueNameNumber }} / {{ issue.issueNameYear }}</td>
      </tr>
    </table>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" translate>revisions
        </h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="rev in revisions">{{rev.n}} / {{getDate(rev.value.timestamp)}}</div>
      </div>
    </div>


  </div>

</div>

